html,
body {
  padding: 0;
  margin: 0;
  font-family: "Arial", sans-serif;
  overflow-x: clip;
}

textarea:focus, input:focus{
  outline: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.link {
  color: inherit;
  text-decoration: none;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color:#121212;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #121212;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #424242;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.body-page-transition {
  overflow: hidden; }
  .body-page-transition #page-transition {
    position: fixed;
    z-index: 9999;
    width: 100%;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center; }
  .body-page-transition #page-transition > div:after {
    content: "";
    background-image: url("/admin/images/bg7.jpg");
    background-size: cover;
    position: fixed;
    z-index: 9998;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0; }
  .body-page-transition #page-transition > div:before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    z-index: 9999;
    position: absolute;
    background: rgba(0, 0, 0, 0.5); }
